
#Added on '20190412_161841' by ControlPanel
#Action application/x-httpd-php /global-bin/php-5.3.cgi
#Added on '20190412_161910' by ControlPanel
Action application/x-httpd-php /global-bin/php-5.6.cgi
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
# BEGIN WordPress

# END WordPress